################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Identity Service/.vs/Identity Service/v15/Server/sqlite3
/Identity Service/obj
/Identity Service/appsettings.json
/Identity Service/bin/Debug/netcoreapp2.2
/Identity Service/.vs/Identity Service/DesignTimeBuild
/Identity Service.sln.DotSettings.user
