################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Identity Service/.vs/Identity Service/v15/Server/sqlite3
/Identity Service/obj
/Identity Service/appsettings.json
/Identity Service/bin/Debug/netcoreapp2.2
/Identity Service/.vs/Identity Service/DesignTimeBuild
/Identity Service.sln.DotSettings.user
/Contract/obj
/Service/bin/Debug/netcoreapp2.2
/Service/obj
/Service/appsettings.json
/Contract/bin
/Service/bin/Release/netcoreapp2.2
/Identity.sln.DotSettings.user
/Service/Service.csproj.user
/Service/bin/Release
/Service/bin/Debug
/Domain/Domain.csproj.user
/Domain/bin
/Domain/obj
